<div class="menu-ngang-container mt-3">
    <ul class="nav nav-pills nav-fill bg-white shadow-sm custom-navbar p-1">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle py-3" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="bi bi-phone me-1"></i> Điện thoại
            </a>
            <ul class="dropdown-menu shadow border-0 mt-2">
                <li><a class="dropdown-item py-2" href="/danhmuc/dienthoai/1"><i class="bi bi-phone"></i>
                        Samsung</a></li>
                <li><a class="dropdown-item py-2" href="/danhmuc/dienthoai/2"><i class="bi bi-phone"></i> Apple
                        (iPhone)</a></li>
                <li><a class="dropdown-item py-2" href="/danhmuc/dienthoai/3"><i class="bi bi-phone"></i> Xiaomi</a>
                </li>
                <li><a class="dropdown-item py-2" href="/danhmuc/dienthoai/4"><i class="bi bi-phone"></i> OPPO</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle py-3" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="bi bi-earbuds me-1"></i> Tai nghe
            </a>
            <ul class="dropdown-menu shadow border-0 mt-2">
                <li><a class="dropdown-item py-2" href="/danhmuc/phukien/1"><i class="bi bi-headphones"></i> Tai nghe có
                        dây</a></li>
                <li><a class="dropdown-item py-2" href="/danhmuc/phukien/2"><i class="bi bi-headphones"></i> Tai nghe
                        không dây</a></li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link py-3" href="/danhmuc/phukien/4">
                <i class="bi bi-battery-charging me-1"></i> Sạc dự phòng
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link py-3" href="/danhmuc/phukien/5">
                <i class="bi bi-shield-check me-1"></i> Ốp lưng
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link py-3" href="/danhmuc/phukien/3">
                <i class="bi bi-usb-c me-1"></i> Cáp sạc
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link py-3" href="/danhmuc/phukien/6">
                <i class="bi bi-fullscreen me-1"></i> Miếng dán
            </a>
        </li>
    </ul>
</div>